body {
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    background-color: white;
    border-bottom: mediumaquamarine;
    border-top: white;
    border-left: white;
    border-right: white;
    border-style: solid;
    border-width: 15px;
    font-family: 'Assistant';
    font-size: 20px;
    text-align: center;
}

h1 {
    color: lightgray;
    font-size: 80px;
    font-family: 'Bebas Neue';
    background-color: tomato;
    text-align: center;
}

#wizard-header{
    text-align: left;
}

.req-list {
    background-color: lightyellow;
}

ul {
    list-style-type: circle;
    font-family: 'Assistant';
    font-size: 20px;
}

h2 {
    color: lightgray;
    background-color: darkslateblue;
    font-family: 'Bebas Neue';
    font-size: 50px;
}

h3 {
    color: black;
    font-family: 'Bebas Neue';
    font-size: 30px;
}

p {
    font-family: 'Assistant';
    font-size: 20px;
    padding-left: 5%;
    border-style: solid;
    border-color: #fafafa;
    background-color: white;
}

button {
background-color: tomato;
font-family: 'Bebas Neue';
font-size: 25px;
color: white;
padding: 10px 24px;
border-radius: 8px;
border: 2px solid white;
}
button:hover {
    background-color: white;
    border: 2px solid tomato;
    color: tomato;
}

.accolade {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Assistant';
    border-style: solid;
    border-color: #fafafa;
    background-color: white;
}

.accolade .publication-title{
    background-color: mediumaquamarine;
    font-family: 'Alfa Slab One';
    font-size: 40px;
    
}
.accolade .title {
    font-size: 30px;
    font-family: 'Bitter';
}
.accolade .award {
    background-color: darkslateblue;
    font-size: 20px;
    color: #fafafa;
}
.accolade .link-publication{
    font-size: 20px;
    padding-left: 10%;
}

#rendering-riva-vid {
    align-self: center;
}

.announcement {
    text-align: center; 
    color: white;
    background-color: mediumaquamarine;
    font-size: 20px;
    font-family: 'Assistant';
}

.announcement a {
    font-weight: bold;
    color: darkslateblue;

}